<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= pageTitle %></title>
    <link rel="stylesheet" href="http://localhost:3000/css/output.css">
    <link rel="stylesheet" href="https://2dd3-103-148-74-89.ngrok-free.app/css/output.css">
