<header class="bg-green-600 text-lime-50 font-bold">
  <nav>
    <ul class="flex gap-3 p-3 items-center justify-center">
      <li><a href="/">Shop</a></li>
      <li><a href="/products">Products</a></li>
      <li><a href="/card">Card</a></li>
      <li><a href="/order">Order</a></li>
      <li><a href="/admin/add-product">Add Product</a></li>
      <li><a href="/admin/products">Admin Product</a></li>
    </ul>
  </nav>
</header>
 <!-- <div class=" w-full h-full flex justify-center flex-col  items-center text-center mt-6 "> -->
<div class="">
