<%- include("../includes/head") %> <%- include("../includes/midle") %>
<%-include("../includes/navbar") %>
<h1 class="text-center text-2xl font-bold">Add Product</h1>
<div
  class="border-2 border-purple-500 shadow-lg box-border p-3 max-w-[610px] rounded-lg m-auto"
>
  <form action="/admin/add-product" method="post" class="max-w-[600px]">
    <div class="max-w-3xl">
      <label for="title">Title :</label>
      <input class="my-input p-1" type="text" name="title" id="title" />
    </div>
    <div class="max-w-3xl">
      <label for="imgurl">Image Url :</label>
      <input class="my-input p-1" type="text" name="imgurl" id="imgurl" />
    </div>
    <div class="max-w-3xl">
      <label for="price">Price :</label>
      <input step="0.01" class="my-input p-1" type="number" name="price" id="price" />
    </div>
    <div class="max-w-3xl">
      <label for="description">Description :</label>
      <textarea
        class="my-input h-[6rem] p-1"
        rows="10"
        cols="15"
        type="text"
        name="description"
        id="description"
      ></textarea>
    </div>
    <div class="flex flex-col items-center justify-center mt-3">
      <button type="submit" class="btn">Add product</button>
    </div>
    <!--        </div>-->
  </form>
</div>
<%- include("../includes/end") %>
