<%- include("../includes/head") %> <%- include("../includes/midle") %> <%-
include("../includes/navbar") %>
<h1>Not Found Page</h1>
<h1>Not Found Page</h1>
<h1>Not Found Page</h1>
<%- include("../includes/end") %>
